body {
    font-family: "Sofia-Pro", sans-serif;
    background-color: #FFFF;
  }

.section {
    padding: 2rem 0 7rem;
}

.subheader {
    font-weight: 600;
    color: #4154f1;
}

.custom-navbar {
    background: #020c63;
}

.custom-footer {
    background-color: #020c63;
    color: #fff;
    padding: 2rem 0;
}

.jumbo-bg {
    background-color: #020c63;
}

button {
    background-color: #020c63;
    color: #fff;
    /* make a glow effect */
    box-shadow: 0 0 5px #020c63;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.dark-bg {
    background-color: #f6f9fe;
}

/* on hover make expand */
.site:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* make Y Combinator orange, bold, and underline */
.topic {
    color: #020c63;
    font-weight: bold;
    text-decoration: underline;
}

.onwards {
    line-height: 0;
    padding: 20px 45px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.onwards i {
    margin-left: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.onwards:hover {
    color: white;
}

.onwards:hover i {
    color: white;
    transform: translateX(5px);
}

.start {
    line-height: 0;
    padding: 20px 45px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
    color: #4154f1;
    background: #fff;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.start i {
    margin-left: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.start:hover {
    color: #4154f1;
}

.start:hover i {
    color: #4154f1;
    transform: translateX(5px);
}

/* CITATION: https://codepen.io/Itchiii/pen/Ldaoaz */
.path {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: pathAnimation 1.2s linear 0.001s forwards;
    visibility: hidden;
} 

.path2 { 
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: pathAnimation2 1.5s linear 1.2s forwards; 
    visibility: hidden;
}

.eye {
    stroke-dasharray: 68;
    stroke-dashoffset: 68;
    animation: eyeAnimation .5s linear 2.72s forwards;
    visibility: hidden;
}

@keyframes pathAnimation { 
    from {visibility: hidden; stroke-dashoffset: 572;}
    to { visibility: visible; stroke-dashoffset: 0; }
}

@keyframes pathAnimation2 {  
    from {visibility: hidden;stroke-dashoffset: 800; }
    to { visibility: visible; stroke-dashoffset: 0; }
}

@keyframes eyeAnimation {  
    from { visibility: hidden;stroke-dashoffset: 68;}
    to {visibility: visible; stroke-dashoffset: 0;}
}
  

/* CITATION: https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100 */
.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:75vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }


  /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }
  
/* CITATION: Gradient Scrollbar https://h.dhairyashah.dev/how-to-make-a-beautiful-gradient-scroll-bar-with-css*/
  /* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f2ee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(30, 93, 219), rgb(59, 130, 246), rgb(147, 51, 234));
  }
  
